* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

body h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
}


/*#region Hem*/

#hem_body {
    overflow-x: hidden;
    background-color: rgb(4, 54, 21);
}

#hem_body h3 {
    font-family: initial;
}

#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(105px, 1fr) minmax(105px, 1fr) minmax(105px, 1fr);
    grid-template-rows: 16vh 84vh 16vh 28vh 28vh 28vh;
    grid-template-areas: 
    "he he he"
    "ar ar ar"
    "a2 a2 a2"
    "f1 f4 f4"
    "f1 f5 f3"
    "f2 f2 f3"
    ;
    height: 200vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

#hemsida_namn {
    color: beige;
    left: 0;
    padding-left: 100px;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: 1.4rem;
    z-index: -1;
}

#hemsida_logo {
    height: 75px;
    width: 75px;
    overflow: hidden;
}

.meny_lista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    background-color: rgb(4, 54, 21);
    left: -70vw;
    width: 70vw;
    align-items: center;
    transition: all 1s;
    position: absolute;
    z-index: 1;
    margin-top: 8vh;
}

.meny {
    transform: translateX(70vw);
    z-index: -100;
    margin-top: 8vh;
}

.meny_lista li {
    list-style: none;
    z-index: 1;
}

.meny_lista a {
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: beige;
    font-weight: bolder;
    font-size: 1.5rem;
    text-transform: uppercase;
    z-index: 1;
}

.meny_lista li {
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
}

.meny_lista li:hover a {
    color: darkgray;
}

#hamburgare_meny div {
    width: 30px;
    height: 4px;
    background-color: beige;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
   
}

.toggle #line2 {
    opacity: 0;
}

.toggle #line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle #line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#hamburgare_meny {
    cursor: pointer;
    z-index: 10;
    margin-right: 1rem;
}

.hem_header {
    display: flex;
    grid-area: he;
    background-color: rgb(4, 54, 21);
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 16vh;
    padding: 10px;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
    z-index: 100;
    top: 0;
}

#hem_article {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: ar;
    background-image: linear-gradient(rgb(4, 54, 21, 0.25),rgba(4, 54, 21, 0.25)),url('../img/hem_background.jpg');
    background-size: cover;
    z-index: -1;
}

#natur_citat { 
    font-size: 5rem;
    color: beige;
}

#hem_article_2 {
    grid-area: a2;
    background-color: rgb(4, 54, 21);
    z-index: 1;
}

.hem_bild_text {
    position: absolute;
    font-size: 5vw;
    font-weight: bold;
    color: beige;
    padding: 10px;
}

#kvadrat_bild_1 {
    grid-area: f1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 5px solid rgb(4, 54, 21);
}

#kvadrat_bild_1::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(rgb(4, 54, 21, 0.25),rgba(4, 54, 21, 0.25)),url('../img/krukvaxter_hemsida_bild.jpg');
    background-size: cover;
    z-index: -1;
}

#kvadrat_bild_1:hover::before {
    transform: scale(1.2);
    transition: all 1s ease-in-out;
    z-index: -1;
}

#kvadrat_bild_2 {
    grid-area: f2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-size: cover;
    border: 5px solid rgb(4, 54, 21);
}

#kvadrat_bild_2::before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(rgb(4, 54, 21, 0.25),rgba(4, 54, 21, 0.25)),url('../img/kaktus_hemsida_bild.jpg');
    background-size: cover;
    z-index: -1;
}

#kvadrat_bild_2:hover::before {
    transform: scale(1.2);
    transition: all 1s ease-in-out;
    z-index: -1;
}

#kvadrat_bild_3 {
    grid-area: f3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-size: cover;
    border: 5px solid rgb(4, 54, 21);
}

#kvadrat_bild_3::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(rgb(4, 54, 21, 0.25),rgba(4, 54, 21, 0.25)),url('../img/svamp_hemsida_bild.jpg');
    background-size: cover;
    z-index: -1;
}

#kvadrat_bild_3:hover::before {
    transform: scale(1.2);
    transition: all 1s ease-in-out;
    z-index: -1;
}

#kvadrat_bild_4 {
    grid-area: f4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-size: cover;
    border: 5px solid rgb(4, 54, 21);
}

#kvadrat_bild_4::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(rgb(4, 54, 21, 0.25),rgba(4, 54, 21, 0.25)),url('../img/om_oss_hemsida_bild.jpg');
    background-size: cover;
    z-index: -1;
}

#kvadrat_bild_4:hover::before {
    transform: scale(1.2);
    transition: all 1s ease-in-out;
    z-index: -1;
}

#kvadrat_bild_5 {
    display: flex;
    grid-area: f5;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(rgb(4, 54, 21, 0.25),rgba(4, 54, 21, 0.25)),url('../img/hem_mitt_bild.jpg');
    background-size: cover;
    background-color: rgb(4, 54, 21);
    border: 5px solid rgb(4, 54, 21);
}

#kvadrat_bild_5 figcaption{
    position: absolute;
}

#hem_mitt_bild {
    object-fit: cover;
    width: 33.33vw;
    height: 28vh;
    border: 5px solid rgb(4, 54, 21);
}

#grid_wrapper a:hover .hem_bild_text{
    font-size: 6vw;
    color: rgb(255, 255, 255);
}

.hem_figure_id{
    overflow: hidden;
}

.hem_figure_id img{ 
    width: fit-content;
    height: fit-content;
}

/*#endregion Hem*/



/*#region Krukvaxter*/

#kruk_grid_wrapper {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) minmax(160px, 1fr);
    grid-template-rows: 16vh 84vh 16vh 84vh 84vh 16vh;
    grid-template-areas: 
    "na na"
    "a1 a1"
    "di di"
    "a2 a3"
    "a4 a5"
    "fo fo"
    ;
    height: 300vh;
    width: 100vw;
    overflow-y: hidden;
}

#kruk_nav {
    height: 16vh;
    display: flex;
    grid-area: na;
    background-color: rgb(41, 90, 17);
    position: fixed;
    z-index: 1;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.5));
}

#kruk_header {
    background-color: rgb(41, 90, 17);
}

#kruk_meny {
    background-color: rgb(41, 90, 17);
}

#kruk_lista {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#kruk_lista a {
    text-decoration: none;
    color: beige;
}

#kruk_lista li {
    list-style: none;
    text-decoration: none;
    color: rgb(35, 35, 32);
}

#kruk_lista li a:hover {
    color: darkgray;
    font-weight: 1200;
}

#kruk_article_1 {
    display: flex;
    grid-area: a1;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(41, 90, 17, 0.25),rgba(41, 90, 17, 0.25)),url('../img/kruk_background.jpg');
    background-size: cover;
    background-position: center;
    color: beige;
    font-size: 2rem;
}

#kruk_article_2 {
    display: flex;
    grid-area: a2;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgba(13, 30, 4, 0.75),rgba(13, 30, 4, 0.75)),url('../img/kruk_article_backgrund.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#div_kruk_mellan_article {
    grid-area: di;
    background-color: rgb(41, 90, 17);
}

#kruk_article_bild_1 {
    height: 64vh;
    width: 40vw;
    object-fit: cover;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
}

#kruk_article_3 {
    display: flex;
    grid-area: a3;
    background-image: linear-gradient(rgba(13, 30, 4, 0.75),rgba(13, 30, 4, 0.75)),url('../img/kruk_article_backgrund.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: beige;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#kruk_lista_1 {
    list-style: none;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

#kruk_lista_2 li {
    margin: 3px
}

#kruk_lista_2 {
    margin-top: 10px;
    list-style: none;
    font-size: 0.9rem;
}

#kruk_article_4 {
    display: flex;
    grid-area: a4;
    background-image: linear-gradient(rgba(13, 30, 4, 0.75),rgba(13, 30, 4, 0.75)),url('../img/kruk_article_backgrund.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: beige;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#kruk_lista_3 {
    list-style: none;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

#kruk_lista_4 li {
    margin: 3px;
}

#kruk_lista_4 {
    margin-top: 10px;
    list-style: none;
    font-size: 0.9rem;
}

#kruk_article_5 {
    display: flex;
    grid-area: a5;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgba(13, 30, 4, 0.75),rgba(13, 30, 4, 0.75)),url('../img/kruk_article_backgrund.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#kruk_article_bild_2 {
    height: 64vh;
    width: 40vw;
    object-fit: cover;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.5))
}

.kruk_li {
    list-style: circle;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#kruk_footer {
    grid-area: fo;
    background-image: linear-gradient(rgba(13, 30, 4, 0.75),rgba(13, 30, 4, 0.75)),url('../img/kruk_article_backgrund.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(245, 245, 220);
}

.kruk_footer_listor {
    list-style: none;
    font-size: 0.7rem;
}

#instagram_ikon {
    height: 30px;
    width: 30px;
    overflow: hidden;
}

#facebook_ikon {
    height: 30px;
    width: 30px;
    overflow: hidden;
}

/*#endregion Krukvaxter*/

/*#region kaktus*/

#kaktus_grid_wrapper {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) minmax(160px, 1fr);
    grid-template-rows: 16vh 84vh 16vh 42vh 42vh 42vh 42vh 16vh;
    grid-template-areas: 
    "na na"
    "a1 a1"
    "di di"
    "a2 a2"
    "a3 a30"
    "a4 a4"
    "a50 a5"
    "fo fo"
    ;
    height: 300vh;
    width: 100vw;
}

#kaktus_header {
    background-color: rgb(182, 146, 46);
}

#kaktus_meny {
    background-color: rgb(182, 146, 46);
}

#kaktus_article {
    display: flex;
    grid-area: a1;
    background-image: linear-gradient(rgb(182, 146, 46, 0.4),rgba(182, 146, 46, 0.4)),url('../img/kaktus_background.jpg');
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: beige;
    font-size: 2rem;
}

#div_kaktus_mellan_article {
    grid-area: di;
    background-color: rgb(182, 146, 46);
}

#kaktus_article_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: a2;
    background-image: linear-gradient(rgb(182, 146, 46, 0.4),rgba(182, 146, 46, 0.4)),url('../img/kaktus_article_backgrund.png');
    background-attachment: fixed;
    background-size: cover;
}

#kaktus_article_bild_1 {
    height: 32vh;
    width: 80vw;
    overflow: hidden;
    object-fit: cover;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
    margin-top: auto;
}

#kaktus_article_3 {
    display: flex;
    grid-area: a3;
    align-items: center;
    background-image: linear-gradient(rgb(182, 146, 46, 0.4),rgba(182, 146, 46, 0.4)),url('../img/kaktus_article_backgrund.png');
    background-attachment: fixed;
    background-size: cover;
    color: beige;
    justify-content: center;
    flex-direction: column;
}

#kaktus_article_30 {
    display: flex;
    grid-area: a30;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgb(182, 146, 46, 0.4),rgba(182, 146, 46, 0.4)),url('../img/kaktus_article_backgrund.png');
    background-attachment: fixed;
    background-size: cover;
    color: beige;
    flex-direction: column;
}

#kaktus_lista_1 {
    margin-bottom: auto;
    list-style: none;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.9rem;
}

#kaktus_lista_2 {
    margin-bottom: auto;
    list-style: none;
    margin-top: 20px;
    font-size: 0.9rem;
}

.kaktus_titles {
    margin-top: 10px;
}

#kaktus_article_4 {
    display: flex;
    grid-area: a4;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgb(182, 146, 46, 0.4),rgba(182, 146, 46, 0.4)),url('../img/kaktus_article_backgrund.png');
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
}

#kaktus_article_bild_2 {
    height: 32vh;
    width: 80vw;
    overflow: hidden;
    object-fit: cover;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
    margin-top: auto;
}

#kaktus_article_50 {
    display: flex;
    grid-area: a50;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(182, 146, 46, 0.4),rgba(182, 146, 46, 0.4)),url('../img/kaktus_article_backgrund.png');
    background-attachment: fixed;
    background-size: cover;
    color: beige;
    flex-direction: column;
}

#kaktus_article_5 {
    display: flex;
    grid-area: a5;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(182, 146, 46, 0.4),rgba(182, 146, 46, 0.4)),url('../img/kaktus_article_backgrund.png');
    background-attachment: fixed;
    background-size: cover;
    color: beige;
    flex-direction: column;
}

#kaktus_lista_3 {
    margin-bottom: auto;
    list-style: none;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.9rem;
}

#kaktus_lista_4 {
    margin-bottom: auto;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 0.9rem;
}


#kaktus_footer {
    grid-area: fo;
    background-image: linear-gradient(rgb(182, 146, 46, 0.4),rgba(182, 146, 46, 0.4)),url('../img/kaktus_article_backgrund.png');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(245, 245, 220);
}

.kaktus_footer_listor {
    list-style: none;
    font-size: 0.7rem;
}

/*#endregion kaktus*/

/*#region svampar*/

#svamp_grid_wrapper {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) minmax(160px, 1fr);
    grid-template-rows: 16vh 84vh 16vh 84vh 84vh 16vh;
    grid-template-areas: 
    "na na"
    "a1 a1"
    "di di"
    "a2 a3"
    "a4 a5"
    "fo fo"
    ;
    height: 300vh;
    width: 100vw;
}

#svamp_nav {
    display: flex;
    grid-area: na;
    background-color: rgb(101, 71, 26);
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.5));
    position: fixed;
    height: 16vh;
    z-index: 1;
}

#svamp_header {
    background-color: rgb(101, 71, 26);
}

#svamp_meny {
    background-color: rgb(101, 71, 26);
}

#svamp_lista {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#svamp_lista a {
    text-decoration: none;
    color: beige;
}

#svamp_lista li {
    list-style: none;
    text-decoration: none;
    color: rgb(35, 35, 32);
}

#svamp_lista li:hover a {
    color: darkgray;
}

#svamp_article_1 {
    display: flex;
    grid-area: a1;
    background-image: linear-gradient(rgb(101, 71, 26, 0.25),rgba(101, 71, 26, 0.25)),url('../img/svamp_background.jpg');
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: beige;
    font-size: 2rem;
}

#div_svamp_mellan_article {
    grid-area: di;
    background-color: rgb(101, 71, 26);
}

#svamp_article_2 {
    display: flex;
    grid-area: a2;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(101, 71, 26, 0.5),rgba(101, 71, 26, 0.5)),url('../img/svamp_article_background.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: beige;
    flex-direction: column;
}

#svamp_lista_1 {
    list-style: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

#svamp_lista_2 li {
    margin: 3px;
}

#svamp_lista_2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    list-style: none;
    font-size: 0.9rem;
}

#svamp_article_3 {
    display: flex;
    grid-area: a3;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgb(101, 71, 26, 0.5),rgba(101, 71, 26, 0.5)),url('../img/svamp_article_background.jpg');
    background-attachment: fixed;
    background-size: cover;
}


#svamp_article_bild_1 {
    height: 64vh;
    width: 40vw;
    object-fit: cover;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
}

#svamp_article_4 {
    display: flex;
    grid-area: a4;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgb(101, 71, 26, 0.5),rgba(101, 71, 26, 0.5)),url('../img/svamp_article_background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#svamp_article_bild_2 {
    height: 64vh;
    width: 40vw;
    object-fit: cover;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
}

#svamp_article_5 {
    display: flex;
    grid-area: a5;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(101, 71, 26, 0.5),rgba(101, 71, 26, 0.5)),url('../img/svamp_article_background.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: beige;
    flex-direction: column;
}

#svamp_lista_3 {
    list-style: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

#svamp_lista_4 li {
    margin: 3px;
}

#svamp_lista_4 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    font-size: 0.9rem;
}

#svamp_footer {
    grid-area: fo;
    background-image: linear-gradient(rgb(101, 71, 26, 0.5),rgba(101, 71, 26, 0.5)),url('../img/svamp_article_background.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: beige;
    justify-content: space-around;
}

.svamp_footer_listor {
list-style: none;
font-size: 0.7rem;
}


/*#endregion svampar*/

/*#region om_oss*/

#om_oss_grid_wrapper {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) minmax(160px, 1fr);
    grid-template-rows: 16vh 84vh 16vh 84vh 16vh;
    grid-template-areas: 
    "na na"
    "a1 a2"
    "di di"
    "a3 a4"
    "fo fo"
    ;
    height: 216vh;
    width: 100vw;
    overflow-y: hidden;
}

#om_oss_nav {
    display: flex;
    grid-area: na;
    background-color: rgb(4, 54, 21);
    position: fixed;
    height: 16vh;
    z-index: 1;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.5));
}

#om_oss_lista {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#om_oss_lista a {
    text-decoration: none;
    color: beige;
}

#om_oss_lista li {
    list-style: none;
    text-decoration: none;
    color: black;
}

#om_oss_lista li a:hover {
    color: darkgray;
    font-weight: 1200;
}

#om_oss_article_1 {
    grid-area: a1;
    background-image: linear-gradient(rgb(4, 54, 21, 0.2),rgba(4, 54, 21, 0.2)),url('../img/om_oss_article_bild.png');
    background-size: cover;

}

#om_oss_article_2 {
    display: flex;
    grid-area: a2;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(4, 54, 21, 0.5),rgba(4, 54, 21, 0.5)),url('../img/om_oss_article_background.png');
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    color: beige;
}

#om_oss_lista_1 {
    margin-top: 10px;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

#om_oss_lista_2 {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.9rem;
}

#div_mellan_om_oss {
    grid-area: di;
    background-color: rgb(4, 54, 21);
}

#om_oss_article_3 {
    grid-area: a3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(4, 54, 21, 0.5),rgba(4, 54, 21, 0.5)),url('../img/om_oss_article_background.png');
    background-attachment: fixed;
    background-size: cover;
    color: beige;
    flex-direction: column;
}

#om_oss_lista_3 {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

#om_oss_lista_4 {
    list-style: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.9rem;
}

#om_oss_article_4 {
    grid-area: a4;
}

#google_maps {
    height: 84vh;
    width: 50vw;
}

#om_oss_footer {
    grid-area: fo;
    background-color: rgb(4, 54, 21);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: beige;
    justify-content: space-around;
}

.om_oss_footer_listor {
    list-style: none;
    font-size: 0.7rem;
    }

/*#endregion om_oss*/

@media screen and (min-width: 800px) {

    #grid_wrapper {
        display: grid;
        grid-template-columns: minmax(130px, 1fr) minmax(130px, 1fr) minmax(130px, 1fr) minmax(130px, 1fr) minmax(130px, 1fr) minmax(130px, 1fr);
        grid-template-rows: 16vh 84vh 16vh 42vh 42vh;
        grid-template-areas: 
        "he he he he he he"
        "ar ar ar ar ar ar"
        "a2 a2 a2 a2 a2 a2"
        "f1 f1 f5 f5 f2 f2"
        "f3 f3 f3 f4 f4 f4"
        ;
        height: 200vh;
        width: 100vw;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #hemsida_namn {
        font-size: 3rem;
    }

    .meny_lista {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 16vh;
        background-color: rgb(4, 54, 21);
        top: -16vh;
        margin: 0;
        width: 80vw;
        left: 0;
        align-items: center;
        transition: all 1s;
        position: absolute;
        z-index: 10;
    }
    
    .meny {
        transform: translateY(0vh);
        z-index: -100;
        top: 0;
        z-index: 10;
    }
    
    .meny_lista a {
        text-decoration: none;
        letter-spacing: 0.1875rem;
        color: beige;
        font-weight: bolder;
        font-size: 2rem;
        text-transform: uppercase;
    }   

    .hem_header {
        display: flex;
        grid-area: he;
        background-color: rgb(4, 54, 21);
        position: fixed;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 16vh;
        padding: 10px;
        filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
        z-index: 2;
        top: 0;
    }

    .meny_lista a {
        letter-spacing: 0.05rem;
        font-weight: bolder;
        font-size: 1.4rem;
        text-transform: uppercase;
        z-index: 1;
    }

    #kruk_grid_wrapper {
        display: grid;
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr); 
        grid-template-rows: 16vh 84vh 16vh 84vh 16vh;
        grid-template-areas: 
        "na na na na "
        "a1 a1 a1 a1"
        "di di di di"
        "a2 a3 a5 a4"
        "fo fo fo fo"
        ;
        height: 216vh;
        width: 100vw;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #kruk_article_bild_1 {
        width: 20vw;
    }

    #kruk_article_bild_2 {
        width: 20vw;   
    }

    #kruk_article_3 h3 {
        font-size: 1.4rem;
    }

    #kruk_lista_1 {
        font-size: 1.2rem;
    }
    
    #kruk_lista_2 {
        font-size: 1.2rem;
    }

    #kruk_article_4 h3 {
        font-size: 1.4rem;
    }

    #kruk_lista_3 {
        font-size: 1.2rem;
    }
    
    #kruk_lista_4 {
        font-size: 1.2rem;
    }

    .kruk_footer_listor {
        list-style: none;
        font-size: 1rem;
    }
    
    #instagram_ikon {
        height: 50px;
        width: 50px;
        overflow: hidden;
    }
    
    #facebook_ikon {
        height: 50px;
        width: 50px;
        overflow: hidden;
    }

    #kaktus_grid_wrapper {
        display: grid;
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
        grid-template-rows: 16vh 84vh 16vh 42vh 50vh 16vh;
        grid-template-areas: 
        "na na na na "
        "a1 a1 a1 a1"
        "di di di di"
        "a2 a2 a4 a4"
        "a3 a30 a5 a50"
        "fo fo fo fo"
        ;
        height: 224vh;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #kaktus_article_bild_1 {
        margin-top: 20px;
        width: 30vw;
    }

    #kaktus_article_bild_2 {
        width: 30vw;
    }

    #kaktus_article_3 {
        font-size: 1.4rem;
    }

    #kaktus_article_30 h3 {
        font-size: 1.4rem;
    }

    #kaktus_article_5 {
        font-size: 1.4rem;
    }

    #kaktus_article_50 {
        font-size: 1.4rem;
    }

    #kaktus_lista_1 {
        font-size: 1.2rem;
    }
    
    #kaktus_lista_2 {
        font-size: 1.2rem;
    }

    #kaktus_lista_3 {
        font-size: 1.2rem;
    }
    
    #kaktus_lista_4 {
        font-size: 1.2rem;
    }
        
    .kaktus_footer_listor {
        list-style: none;
        font-size: 1rem;
    }

    #svamp_grid_wrapper {
        display: grid;
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
        grid-template-rows: 16vh 84vh 16vh 84vh 16vh;
        grid-template-areas: 
        "na na na na "
        "a1 a1 a1 a1"
        "di di di di"
        "a2 a3 a5 a4"
        "fo fo fo fo"
        ;
        height: 216vh;
        width: 100vw;
    }
    
    #svamp_article_bild_1 {
        width: 20vw;
    }

    #svamp_article_bild_2 {
        width: 20vw;   
    }

    #svamp_article_2 h3 {
        font-size: 1.4rem;
    }

    #svamp_lista_1 {
        font-size: 1.2rem;
    }

    #svamp_lista_2 {
        font-size: 1.2rem;
    }

    #svamp_lista_3 {
        font-size: 1.2rem;
    }

    #svamp_lista_4 {
        font-size: 1.2rem;
    }

    #svamp_article_5 h3 {
        font-size: 1.4rem;
    }
        
    .svamp_footer_listor {
        list-style: none;
        font-size: 1rem;
    }

    #om_oss_grid_wrapper {
        display: grid;
        grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
        grid-template-rows: 16vh 42vh 42vh 16vh 42vh 42vh 16vh;
        grid-template-areas: 
        "na na"
        "a1 a1"
        "a2 a2"
        "di di"
        "a4 a4"
        "a3 a3"
        "fo fo"
        ;
        height: 216vh;
        width: 100vw;
        overflow-y: hidden;
    }

    #om_oss_lista_1 {
        font-size: 1.2rem;
        margin-top: 10pxf;
    }

    #om_oss_lista_2 {
        font-size: 1.2rem;
    }

    #om_oss_lista_3 {
        font-size: 1.2rem;
    }

    #om_oss_lista_4 {
        font-size: 1.2rem;
    }

    #google_maps {
        height: 42vh;
        width: 100vw;
    }

    .om_oss_footer_listor {
        list-style: none;
        font-size: 1rem;
    }
}