* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#region Hem*/

#hem_body {
    overflow-x: hidden;
}

#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) minmax(160px, 1fr) minmax(160px, 1fr);
    grid-template-rows: 16vh 84vh 16vh 28vh 28vh 28vh;
    grid-template-areas: 
    "he he he"
    "ar ar ar"
    "a2 a2 a2"
    "f1 f4 f4"
    "f1 f5 f3"
    "f2 f2 f3"
    ;
    height: 200vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

#hemsida_namn {
    color: beige;
    left: 0;
    padding: 100px;
    position: absolute;
}

#hemsida_logo {
    height: 75px;
    width: 75px;
    overflow: hidden;
}

#meny_lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 16vh;
    background-color: rgb(4, 54, 21);
    top: -16vh;
    left: 0;
    width: 80vw;
    align-items: center;
    transition: all 1s;
    position: absolute;
}

.meny {
    transform: translateY(16vh);
}

#meny_lista li {
    list-style: none;
}

#meny_lista a {
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: beige;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
}

#meny_lista li:hover a {
    color: darkgray;
}

#hamburgare_meny div {
    width: 30px;
    height: 4px;
    background-color: beige;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.toggle #line2 {
    opacity: 0;
}

.toggle #line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle #line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#hamburgare_meny {
    margin-right: 3.125rem;
    cursor: pointer;
}

#hem_header {
    display: flex;
    grid-area: he;
    background-color: rgb(4, 54, 21);
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 16vh;
    padding: 10px;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
    z-index: 100;
}

#hem_article {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: ar;
    background-image: linear-gradient(rgb(4, 54, 21, 0.25),rgba(4, 54, 21, 0.25)),url('../img/hem_background.jpg');
    background-size: cover;
}

#natur_citat { 
    font-size: 3rem;
    color: beige;
}

#hem_article_2 {
    grid-area: a2;
    background-color: rgb(4, 54, 21);
    z-index: 1;
}

.hem_bild_text {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    color: beige;
    padding: 10px;
}

#kvadrat_bild_1 {
    grid-area: f1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: rgb(4, 54, 21);
    background-image: linear-gradient(rgb(4, 54, 21, 0.25),rgba(4, 54, 21, 0.25)),url('../img/krukvaxter_hemsida_bild.jpg');
    background-size: cover;
    border: 5px solid rgb(4, 54, 21);
    overflow: hidden;
}

#kvadrat_bild_1:hover {
    transform: scale(1.2);
    transition: .3s ease-in-out;
    z-index: -1;
}

#kvadrat_bild_2 {
    grid-area: f2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: rgb(4, 54, 21);
    background-image: linear-gradient(rgb(4, 54, 21, 0.25),rgba(4, 54, 21, 0.25)),url('../img/kaktus_hemsida_bild.jpg');
    background-size: cover;
    border: 5px solid rgb(4, 54, 21);
    overflow: hidden;
}

#kvadrat_bild_2:hover {
    transform: scale(1.2);
    transition: .3s ease-in-out;
    z-index: -1;
}

#kvadrat_bild_3 {
    grid-area: f3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: rgb(4, 54, 21);
    background-image: linear-gradient(rgb(4, 54, 21, 0.25),rgba(4, 54, 21, 0.25)),url('../img/svamp_hemsida_bild.jpg');
    background-size: cover;
    border: 5px solid rgb(4, 54, 21);
    overflow: hidden;
}

#kvadrat_bild_3:hover {
    transform: scale(1.2);
    transition: .3s ease-in-out;
    z-index: -1;
}

#kvadrat_bild_4 {
    grid-area: f4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: rgb(4, 54, 21);
    background-image: linear-gradient(rgb(4, 54, 21, 0.25),rgba(4, 54, 21, 0.25)),url('../img/om_oss_hemsida_bild.jpg');
    background-size: cover;
    border: 5px solid rgb(4, 54, 21);
    overflow: hidden;
}

#kvadrat_bild_4:hover {
    transform: scale(1.2);
    transition: .3s ease-in-out;
    z-index: -1;
}

#kvadrat_bild_5 {
    display: flex;
    grid-area: f5;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(rgb(4, 54, 21, 0.25),rgba(4, 54, 21, 0.25)),url('../img/hem_mitt_bild.jpg');
    background-size: cover;
    background-color: rgb(4, 54, 21);
    border: 5px solid rgb(4, 54, 21);
}

#kvadrat_bild_5 figcaption{
    position: absolute;
}

#hem_mitt_bild {
    object-fit: cover;
    width: 33.33vw;
    height: 28vh;
    border: 5px solid rgb(4, 54, 21);
}

#grid_wrapper a:hover .hem_bild_text{
    color: black; 
}

.hem_figure_id{
    overflow: hidden;
}

.hem_figure_id img{ 
    width: fit-content;
    height: fit-content;
}

/*#endregion Hem*/



/*#region Krukvaxter*/

#kruk_body {
    overflow-x: hidden;
}

#kruk_grid_wrapper {
    display: grid;
    grid-template-columns: minmax(240px, 1fr) minmax(240px, 1fr);
    grid-template-rows: 16vh 84vh 16vh 84vh 84vh 16vh;
    grid-template-areas: 
    "na na"
    "a1 a1"
    "di di"
    "a2 a3"
    "a4 a5"
    "fo fo"
    ;
    height: 100vh;
    width: 100vw;
}

#kruk_nav {
    height: 16vh;
    display: flex;
    grid-area: na;
    background-color: rgb(41, 90, 17);
    position: fixed;
    z-index: 1;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.5));
}

#kruk_lista {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#kruk_lista a {
    text-decoration: none;
    color: beige;
}

#kruk_lista li {
    list-style: none;
    text-decoration: none;
    color: rgb(35, 35, 32);
}

#kruk_lista li a:hover {
    color: darkgray;
    font-weight: 1200;
}

/* .ultra_img {
    background-image: url('../img/kruk_article_backgrund.jpg');
    background-repeat: no-repeat;
    background: cover;
} */

#kruk_article_1 {
    display: flex;
    grid-area: a1;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(41, 90, 17, 0.25),rgba(41, 90, 17, 0.25)),url('../img/kruk_background.jpg');
    background-size: cover;
    background-position: center;
    color: beige;
    font-size: 2rem;
}

#kruk_article_2 {
    display: flex;
    grid-area: a2;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgba(13, 30, 4, 0.75),rgba(13, 30, 4, 0.75)),url('../img/kruk_article_backgrund.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#div_kruk_mellan_article {
    grid-area: di;
    background-color: rgb(41, 90, 17);
}

#kruk_article_bild_1 {
    height: 64vh;
    width: 40vw;
    object-fit: cover;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
}

#kruk_article_3 {
    display: flex;
    grid-area: a3;
    background-image: linear-gradient(rgba(13, 30, 4, 0.75),rgba(13, 30, 4, 0.75)),url('../img/kruk_article_backgrund.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: beige;
    justify-content: center;
    align-items: center;
}

#kruk_article_4 {
    display: flex;
    grid-area: a4;
    background-image: linear-gradient(rgba(13, 30, 4, 0.75),rgba(13, 30, 4, 0.75)),url('../img/kruk_article_backgrund.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: beige;
    justify-content: center;
    align-items: center;

}

#kruk_article_5 {
    display: flex;
    grid-area: a5;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgba(13, 30, 4, 0.75),rgba(13, 30, 4, 0.75)),url('../img/kruk_article_backgrund.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#kruk_article_bild_2 {
    height: 64vh;
    width: 40vw;
    object-fit: cover;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.5))
}

#kruk_footer {
    grid-area: fo;
    background-image: linear-gradient(rgba(13, 30, 4, 0.75),rgba(13, 30, 4, 0.75)),url('../img/kruk_article_backgrund.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(245, 245, 220);
}

#instagram_ikon {
    height: 75px;
    width: 75px;
    overflow: hidden;
}

#facebook_ikon {
    height: 75px;
    width: 75px;
    overflow: hidden;
}

/*#endregion Krukvaxter*/

/*#region kaktus*/

#kaktus_body {
    overflow-x: hidden;
}

#kaktus_grid_wrapper {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) minmax(160px, 1fr) minmax(160px, 1fr);
    grid-template-rows: 16vh 84vh 80vh 80vh 20vh;
    grid-template-areas: 
    "na na na"
    "a1 a1 a1"
    "a2 a2 a2"
    "a3 a3 a3"
    "fo fo fo"
    ;
    height: 100vh;
    width: 100vw;
}

#kaktus_nav {
    display: flex;
    grid-area: na;
    background-color: rgb(182, 146, 46);
    position: fixed;
    height: 16vh;
}

#kaktus_lista {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#kaktus_lista a {
    text-decoration: none;
    color: beige;
}

#kaktus_lista li {
    list-style: none;
    text-decoration: none;
}

#kaktus_lista li:hover a {
    color: darkgray;
}

#kaktus_article {
    display: flex;
    grid-area: a1;
    background-image: linear-gradient(rgb(182, 146, 46, 0.4),rgba(182, 146, 46, 0.4)),url('../img/kaktus_background.jpg');
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: beige;
    font-size: 2rem;
}

#kaktus_article_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: a2;
    background-color: rgb(182, 146, 46);
}

#kaktus_article_bild_1 {
    height: 20vh;
}

#kaktus_article_3 {
    display: flex;
    grid-area: a3;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(182, 146, 46);
}

#kaktus_article_bild_2 {
    height: 20vh;
}

#kaktus_footer {
    grid-area: fo;
    background-color: rgb(182, 146, 46);
}

/*#endregion kaktus*/

/*#region svampar*/

#svamp_body {
    overflow-x: hidden;
}

#svamp_grid_wrapper {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) minmax(160px, 1fr) minmax(160px, 1fr);
    grid-template-rows: 16vh 84vh 80vh 80vh 20vh;
    grid-template-areas: 
    "na na na"
    "a1 a1 a1"
    "a2 a2 a2"
    "a3 a3 a3"
    "fo fo fo"
    ;
    height: 100vh;
    width: 100vw;
}

#svamp_nav {
    display: flex;
    grid-area: na;
    background-color: rgb(101, 71, 26);
    position: fixed;
    height: 16vh;
}

#svamp_lista {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#svamp_lista a {
    text-decoration: none;
    color: beige;
}

#svamp_lista li {
    list-style: none;
    text-decoration: none;
}

#svamp_lista li:hover a {
    color: darkgray;
}

#svamp_article_1 {
    display: flex;
    grid-area: a1;
    background-image: linear-gradient(rgb(101, 71, 26, 0.25),rgba(101, 71, 26, 0.25)),url('../img/svamp_background.jpg');
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: beige;
    font-size: 2rem;
}

#svamp_article_2 {
    display: flex;
    grid-area: a2;
    background-color: rgb(101, 71, 26);
    justify-content: space-around;
    align-items: center;
}

#svamp_article_bild_1 {
    height: 20vh;
}

#svamp_article_3 {
    display: flex;
    grid-area: a3;
    background-color: rgb(101, 71, 26);
    justify-content: space-around;
    align-items: center;
}

#svamp_article_bild_2 {
    height: 20vh;
}

#svamp_footer {
    grid-area: fo;
    background-color: rgb(101, 71, 26);
}

/*#endregion svampar*/

/*#region om_oss*/

#om_oss_body {
    overflow-x: hidden;
}

#om_oss_grid_wrapper {
    display: grid;
    grid-template-columns: minmax(240px, 1fr) minmax(240px, 1fr);
    grid-template-rows: 16vh 84vh 84vh 16vh;
    grid-template-areas: 
    "na na"
    "a1 a2"
    "a3 a4"
    "fo fo"
    ;
    height: 100vh;
    width: 100vw;
}

#om_oss_nav {
    display: flex;
    grid-area: na;
    background-color: rgb(4, 54, 21);
    position: fixed;
    height: 16vh;
}

#om_oss_lista {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#om_oss_lista a {
    text-decoration: none;
    color: beige;
}

#om_oss_lista li {
    list-style: none;
    text-decoration: none;
}

#om_oss_lista li a:hover {
    color: darkgray;
    font-weight: 1200;
}

#om_oss_article_1 {
    grid-area: a1;
    background-color: rgb(4, 54, 21);
    background-image: linear-gradient(rgb(4, 54, 21, 0.25),rgba(4, 54, 21, 0.25)),url('../img/om_oss_article_bild_1.jpg');
}

#om_oss_article_2 {
    grid-area: a2;
    background-color: rgb(4, 54, 21);
}

#om_oss_article_3 {
    grid-area: a3;
    background-color: rgb(4, 54, 21);
}

#om_oss_article_4 {
    grid-area: a4;
    background-color: rgb(4, 54, 21);
}

#om_oss_footer {
    grid-area: fo;
    background-color: rgb(4, 54, 21);
}

/*#endregion om_oss*/